POSTGRES_DB=db-name
POSTGRES_USER=db-user
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

REDIS_PORT=6379

MQTT_PORT=1883
MQTT_WS_PORT=9001

API_PORT=8000
APP_ENV=local
APP_DEBUG=true

# Generate once and paste here in your local .env:
# php artisan key:generate --show
APP_KEY=
