POSTGRES_DB=db-name
POSTGRES_USER=db-user
POSTGRES_PASSWORD=db-pass
POSTGRES_PORT=5432
POSTGRES_EXPORTER_DSN=postgresql://db-user:db-pass@postgres:5432/db-name?sslmode=disable

REDIS_PORT=6379

MQTT_PORT=1883
MQTT_WS_PORT=9001

API_PORT=8000
APP_ENV=local
APP_DEBUG=true

# Generate once and paste here in your local .env:
# php artisan key:generate --show
APP_KEY=
